<html>
	<body>
		<h1>User Profile</h1>
		<p>Email address: {{ current_user.email }}</p>
		<p>Zip code: {{ current_user.zipcode }}</p>
		<p>Age: {{ current_user.age }}</p>
		<p>Gender: {{current_user.gender}}</p>
		<p>Occupation: {{ current_user.occupation}}</p>
		<h1>User Ratings</h1>
		{% for rating in current_user.ratings %}
			<p>Movie title: <a href="/movie?movie_id={{rating.movie.movie_id}}">{{ rating.movie.movie_title }}</a></p>
			<p>Rating (out of 5): {{rating.movie_rating}}</p>
		{% endfor %}
	</body>
</html>